{% extends "base.html" %}

{% block content %}
  <form action="{{ url_for('game.add_to_wishlist', gname=gname) }}" method="post">
    <input class="danger" type="submit" value="Add to WishList" onclick="return confirm('Are you sure?');">
  </form>
  <form action="{{ url_for('game.remove_from_wishlist', gname=gname) }}" method="post">
    <input class="danger" type="submit" value="Remove from WishList" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}

{% block body %}
    <h1>{{gname}}</h1>
    <form method="POST" action="/search">
    <p>Search <input type="text" name="name"> <input type="submit" value="search"></p>
    </form>
    <p>Genre: {{genre}}</p>
    <p>Publish Date: {{date}}</p>
    <p>Price: {{price}}</p>
    <p>Developer: <a href={{developer_url}}>{{dname}}</a></p>
    <p>Producer: <a href={{producer_url}}>{{pname}}</a></p>
    <p>Composer: <a href={{composer_url}}>{{cname}}</a></p>
    <div>{{description}}</div>

    <button type="button"><a href="/0">Return To Home</a></button>

{% endblock %}
